       <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>MizzouGlenn’s Tavern</title>
            <link rel="stylesheet" href="/static/main.css">
            <link rel="stylesheet" href="/static/chalk.css">
            <link rel="stylesheet" href="/static/mizzou-vintage.css">
            <link rel="stylesheet" href="/static/beer.css">
        </head>
        <body class="spirits">
          <header class="menu-header">
            <div class="mizzou-logo split">
              <div class="logo-left">
                <span class="tile"><span>M</span></span>
                <span class="tile"><span>I</span></span>
                <span class="tile"><span>Z</span></span>
                <span class="tile"><span>Z</span></span>
                <span class="tile"><span>O</span></span>
                <span class="tile"><span>U</span></span>
              </div>

              <div class="logo-right">
                <span class="tile"><span>G</span></span>
                <span class="tile"><span>L</span></span>
                <span class="tile"><span>E</span></span>
                <span class="tile"><span>N</span></span>
                <span class="tile"><span>N</span></span>
                <span class="tile"><span>S</span></span>
              </div>
            </div>

            <div class="brand-name">Tavern</div>
          </header>

          <div class="nav-links">
            <a href="/beer">Beer</a>
            <a href="/spirits?group=Bourbon"> Bourbon</a>
            <a href="/spirits?group=Rye"> Rye</a>
            <a href="/spirits?group=Scotch"> Scotch</a>
            <a href="/spirits?group=Whiskey"> Whiskey</a>
            <a href="/spirits?group=Gin"> Gin</a>
            <a href="/spirits?group=Vodka">Vodka</a>
            <a href="/spirits?group=Rum"> Rum</a>
            <a href="/spirits?group=Tequila%20%2F%20Mezcal"> Tequila/Mezcal</a>
            <a href="/spirits?group=Liqueurs%20%26%20Cordials%20%26%20Aperitifs%20%26%20Absinthe"> Liqueurs/Modifiers</a>
            <a href="/cocktails"> House Cocktails</a>
            <!--<a href="/seasonal">Seasonal Menu</a> -->
          </div>
        </body>
        </html>